/* Reset default margin and padding on all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width/height */
}

body {
 margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('/background.jpg') center bottom / cover no-repeat fixed;
}
@media screen and (min-width: 768px) {
body {
    background: url('/background.jpg') center bottom / cover no-repeat fixed;
  }
}

h2{
  color:white;
  text-align: center;
}



                .showQ {
                    opacity: 0; /* Start with zero opacity */
                    filter: blur(20px); /* Apply initial blur */
                    transform: scale(0.5); /* Start with a smaller size */
                    animation: fog-in 1s ease-in-out forwards;
                }

                @keyframes fog-in {
                    0% {
                        opacity: 0;
                        filter: blur(20px);
                        transform: scale(0.5);
                    }
                    100% {
                        opacity: 1;
                        filter: blur(0); /* Remove blur */
                        transform: scale(1);
                    }
                }

.resultOfGame{
      background-color: rgba(255, 248, 166, 0.7);
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
padding:1em;
border-radius: 1em;
font-size: 1.5em;
}
.introText{
  margin:2em;
  line-height: 2em;
}
.playAgain {
  text-align: center; 
  background-color: #da2343; 
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  opacity: 0.8;
  color:white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Adjust spacing between buttons */
      background-color: rgb(36 50 63 / 80%); /* R: 52, G: 110, B: 168, Alpha: 0.8 */
padding:1em;
}
.intro-container {
  display: flex; /* Use "flex" instead of "column" for flex container */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Set flex direction to "column" */
  background-color: rgba(36, 50, 63, 0.8); /* Use "rgba" for transparency */
  padding: 1em;
  margin: 0; /* Reset margin to ensure the container takes up the whole page */
  height: 100vh; /* Set container height to 100% of viewport height */
}
/* Media query for desktop layout */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3em; 
  }

  .button-container {
    flex-direction: row;
    align-items: initial;
    background-color: rgb(36 50 63 / 80%); /* R: 52, G: 110, B: 168, Alpha: 0.8 */
    padding: 1em;
    border-radius: 1em;
  }

  .button-container button {
    /* Adjust button styles for desktop */
  }

}

/* Common styles for all buttons */
/* Common styles for all buttons */
.label {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-weight: bold;
  padding: 0.5rem .5rem;
  border-radius: 8px;
  background-color: #9a7c44; /* Grainy brown background color */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Text shadow for a subtle grainy effect */
}

/* Individual button styles */
.label:nth-child(1) {
  background-color: #ff7733; /* Slightly different color for the LEFT button */
}

.label:nth-child(2) {
  background-color: #ff3333; /* Slightly different color for the MIDDLE button */
}

.label:nth-child(3) {
  background-color: #33cc33; /* Slightly different color for the RIGHT button */
}

.label:nth-child(4) {
  background-color: #3366ff; /* Slightly different color for the RIGHT button */
}

/* Add more styles for other nth-child selectors as needed */


/* Add this CSS to your existing styles or create a new CSS file */

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.timeline-dot {
  width: 6vmin;
	height: 6vmin;
  margin:0 .1em;
  border-radius: 50%;
  background-color: #a559f8; /* Initial blue color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s ease;
}

.timeline-dot.filled {
  background-color: white; /* Change to the desired color as questions progress */
  color:grey;
}

.language-toggle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.language-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-button:hover {
  background-color: #0056b3;
}
